/* Navbar */
header {
  background-color: #333;
}

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
}

.navbar a.active {
  background-color: #555;
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-wrap: wrap;
  }

  .navbar a {
    flex: 1 0 50%;
    padding: 12px;
  }
}




body {
	font-family: Arial, Helvetica, sans-serif;
      margin: 0;
  }
  
  .container {
	max-width: 500px;
	margin: 0 auto;
  }
  
  .container img {
	vertical-align: middle;
  }
  
  .content {
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
  }
  
  .text-block {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: black;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
  }
  
  header {
	background-color: #3c4048;
	color: #fff;
	padding: 20px;
  }
  
  header h1 {
	margin: 0;
  }
  
  nav li {
	margin-right: 20px;
      background-color: #eaeaea;
  }
  
  nav a {
    background-color: #00abb3;
  }

  main {
	margin: 20px auto;
	padding: 0 20px;
  }
  
  section {
	margin-bottom: 40px;
    background-color: #b2b2b2;
  }
  
  section h2 {
	margin-top: 0;
  }
  
  table {
            border: 1px solid #0b5ed7;
	border-collapse: collapse;
	padding: 10px;
  }
  
  li {
	list-style-type: square;
  }
  
  .centertext {
	text-align: center;
  }
  
  footer {
	background-color: #3c4048;
	color: #fff;
	text-align: center;
	padding: 20px;
  }
  
  /* Specific styles for each page */
  /* Home page */
  .home section:first-child {
	font-size: 1.5em;
  }
  
  .home ul {
	margin-top: 20px;
  }
  img {
    width: 300px;
    height: auto;
}

.line {
    border-bottom: 1px solid #ece6e6; /* Параметры линии */
}


  /*acccordian*/

  .accordion {
      background-color: #b2b2b2;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 70%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
      margin-left:15%;
  }

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 230px;
    display: none;
    background-color: white;
    overflow: hidden;
}